<% include headerUser %>

<br><br>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-6">
        <span style="font-size: 35px;font-family: Arial, Helvetica, sans-serif">Make your donations here</span>
    </div>
</div>
<br><br>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-5">
            <p>Search a donation campaign</p>
        <form class="example" action="/search" style="max-width:500px">
            <input type="text" placeholder="Search.." name="search2">
            <button type="submit" class="fa fa-search">Search </i></button>
        </form>
    </div>
</div>