<% include headerUser %>


<div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-6">
            <span style="font-size: 25px;font-family: Arial, Helvetica, sans-serif"><b>Donation Details</b></span>
        </div>
    </div>
<br>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <span style="font-size: 15px;font-family: Arial, Helvetica, sans-serif"><b>Campaign Name: </b>Life Donations</span>
    </div>
</div>
<br>
<div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <span style="font-size: 15px;font-family: Arial, Helvetica, sans-serif"><b>Beneficiary Name: </b>Pavan Kumar Vudutha</span>
        </div>
    </div>
<br>
<hr>
<br>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="form-group">

            <label for="benname"><b>Enter amount</b></label>
            <input class="form-control" type="text" name="benname" placeholder="Enter Amount" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="form-group">

            <label for="benname"><b>Leave a comment</b></label>
            <textarea class="form-control" type="text" name="description" rows="3" cols="30" placeholder="Write your comment here"></textarea>
        </div>

    </div>
</div>
<br>
<div class="form-group">
    <div class="col-md-5"></div>
    <div class="col-md-2">
        <button type="submit" class="btn btn-primary">Continue to Payment</button>
    </div>
</div>