<!DOCTYPE html>
<html>

<head>
  <title>Online Donation</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="/css/home.css" rel="stylesheet" type="text/css" />
</head>

<body class="body">

  <nav class="navbar navbar-inverse">
    <div id="main" class="container-fluid">

      <ul class="nav navbar-nav">
        <li><a class="active" href="/users"><b>Users</b></a></li>
        <li><a href="/donationcampaigns"><b>Add User</b></a></li>
        <li><a href="/donations"><b>Donation Campaigns</b></a></li>
        <li><a href="/"><b>Logout</b></a></li>
      </ul>
    </div>
  </nav>
</body>

</html>