<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link href="/css/home.css" rel="stylesheet" type="text/css" />
    <link href="/css/donation.css" rel="stylesheet" type="text/css" />
</head>
<body>
<ul class="nav ">
  <li><a class="active nav" href="/userHome">Home</a></li>
  <li><a  href="/donationcampaigns">Donation Campaigns</a></li>
  <li><a  href="/donations">Donations</a></li>
  <li><a  href="/profile">Profile</a></li>
  <li><a  href="/">Logout</a></li>
</ul>
</body>
</html>