<% include headerUser %>
<h1 align="center">Donation Campaign </h1>

<div class="container">

    <form method="POST" action="/newCampaign">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="campname"><b>Campaign Name</b></label>
                    <input class="form-control" type="text" name="campname" placeholder="Campaign Name" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="description"><b>Description</b></label>
                    <textarea class="form-control" type="text" name="description" rows="3" cols="30" placeholder="Campaign description"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="form-group">

                    <label for="amount"><b>Target amount</b></label>
                    <input class="form-control" type="number" name="amount" placeholder="Target amount" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="form-group">

                    <label for="deadline"><b>Deadline</b></label>
                    <input class="form-control" type="date" name="deadline">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="form-group">

                    <label for="benname"><b>Beneficiary Name</b></label>
                    <input class="form-control" type="text" name="benname" placeholder="Beneficiary Name" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="form-group">

                    <label for="benname"><b>Beneficiary Name</b></label>
                    <input class="form-control" type="text" name="benname" placeholder="Beneficiary Name" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="form-group">

                    <label for="benname"><b>Upload image</b></label>
                    <input type="file" name="pic" accept="image/*">
                </div>

            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
            <div class="col-md-6">
                <button type="submit" class="btn btn-danger" onclick="location.href='/userHome'">Cancel</button>
            </div>
        </div>
    </form>
</div>