<% include headerUser %>
<br>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-5">
            <img src="/css/pavan.jpg" style="width:200px;height:150px">
            <br>
            <br>
            <p> <b>Name:</b> Pavan Udatha</p>
            <p><b> Email Address:</b> pavanudatha@gmail.com </p>
            <p><b> Username:</b> pavan999 </p>
        </div>
            <div class="col-xs-6">
                <h4>Paymnet Profile</h4>
                <P><b> Name of the card: </b> Pavan udatha</P>
                <p><b> Card Number:</b> 1234567892345 </p>
                <p><b> Expiry Date: </b>11/21 </p>
                <p><b> CVV: </b>123</p>
            </div>
        </div>
    </div>
</div>