<% include headerUser %>
<body>
  <br>
            <h1>Rules and Regulations</h1>
            <br>
            <div class="row">
              <div class = "col-md-3"></div>
              <div class = "col-md-9">
                <li>The opportunity to donate or make a purchase that benefits of a charity is only available online.</li>
                <li>Only a small number of donations (or sales transactions leading to donations) are generated (or likely to be generated) from the state.</li>
<li>The fundraising activities are short term.The charity has no plans to actively target residents of that state now or in the foreseeable future.</li>
                <li>The charity’s role is largely passive (this is particularly the case with peer-to-peer fundraising activities and charitable sales promotions).</li> <br><br>  
                <br><br>
              </div>
             
                <br><br>
              </div>
                <form>
                    <div class="row">
                        <div class = "col-md-3"></div>
                        <div class = "col-md-9">
                  <input type="checkbox" name="terms" value="conditions"> I agree to the rules and regulations<br><br>
                  <input type="submit" value="Submit"> 
                </form>
              </div>
              <div class = "col-md-11"></div>
                <button type="button" onclick=""> Next </button>
             
              </body>
              </html>