<% include headerUser %>
<br><br><br><br><br><br>
<div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-5">
        <button type="submit" class="btn btn-primary btn-lg" onclick="location.href='/newDonationCampaign'">Start
            Donation Campaign</button>
    </div>
</div>
<br><br>
<div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-5">
        &emsp;&emsp;&emsp;&emsp;&emsp;
        <button type="submit" class="btn btn-primary btn-lg" onclick="location.href='/donate'">Donate</button>
    </div>
</div>