ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #006747;
}


#courses {
    font-family:sans-serif;
    border-collapse: collapse;
    width: 70%;
    align-content: center;
    word-wrap: break-word;
}

#courses td, #courses th {
    padding: 7px;
}



#courses tr:hover {
    background-color: #ddd;

}

#courses th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #006747;
    color: white;
}

table {
    width: 80%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #cdcdcd;
}

table th,
table td {
    padding: 10px;
    text-align: left;
}
input{
  font-size: 10px;  
  padding: 5px;
  border: 1px solid #006747;
  border-radius: 5px;
}

textarea{
    font-size: 20px;  
    padding: 5px;
    border: 1px solid #006747;
    border-radius: 5px;
  }

#donation{
    font-size:50px;
    font-style: oblique;
}
.nav ul li a:hover {
    text-decoration: none;
}


.creditCardForm {
    max-width: 700px;
    background-color:aquamarine;
    margin: 100px auto;
    overflow: hidden;
    padding: 25px;
    color: #4c4e56;
}

.creditCardForm label {
    width: 100%;
    margin-bottom: 10px;
}

.creditCardForm .heading h1 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #4c4e56;
}

.creditCardForm .payment {
    float: left;
    font-size: 18px;
    padding: 10px 25px;
    margin-top: 20px;
    position: relative;
}

.creditCardForm .payment .form-group {
    float: left;
    margin-bottom: 15px;
}

.creditCardForm .payment .form-control {
    line-height: 40px;
    height: auto;
    padding: 0 16px;
}

.creditCardForm .owner {
    width: 63%;
    margin-right: 10px;
}

.creditCardForm .CVV {
    width: 35%;
}

.creditCardForm #card-number-field {
    width: 100%;
}

.creditCardForm #expiration-date {
    width: 49%;
}

.creditCardForm #credit_cards {
    width: 50%;
    margin-top: 25px;
    text-align: right;
}

.creditCardForm #pay-now {
    width: 100%;
    margin-top: 25px;
}

.creditCardForm .payment .btn {
    width: 100%;
    margin-top: 3px;
    font-size: 24px;
    background-color: #2ec4a5;
    color: white;
}

.creditCardForm .payment select {
    padding: 10px;
    margin-right: 15px;
}

.transparent {
    opacity: 0.2;
}